@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body,html{
	font:12px "微软雅黑",Arial;	
	color:#000;
}
li{
	list-style:none;	
}
a{
	text-decoration:none;
	color:#333;
	font-size:12px;	
}
i,em{
	font-style: normal;
}
a:hover{
	text-decoration: none;
	color: #FF4400;
}

h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:12px;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}

img{
	border:0;}

