<div class="layui-header">
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item" lay-unselect="">
      <a href="javascript:;">
        <cite><%= nickName %></cite>
        <span class="layui-nav-more"></span></a>
      <dl class="layui-nav-child layui-anim layui-anim-upbit">
        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
        <hr>
        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
      </dl>
    </li>
    <span class="layui-nav-bar" style="left: 258px; top: 48px; width: 0px; opacity: 0;"></span>
  </ul>
</div>